<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TOMDB" connectionString="Password=TOMDB;User ID=TOMDB;Data Source=TOMDB_ORCL;Max Pool Size=200;Min Pool Size=2" providerName="System.Data.OracleClient"/>
 
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
